.pagina-locacao-veiculo {
  display: flex;
  width: 100%;

  .conteudo-pagina-controle-veiculo {
    display: flex;
    flex-direction: column;
    width: 100%;

    .cabecalho {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #fefefe;
      box-shadow: 0 0.4rem 1.05rem #0000004d;
      padding: 0rem 1.25rem;
      height: 5rem;

      span {
        color: #a89e9e;
        font: 600 1rem "Arial";
      }

      .usuario {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        font: 600 1.5rem "Arial";
        color: #fff;
        background-color: #fe7000;
        align-items: center;
      }
    }

    .conteudo {
      display: flex;
      flex-direction: column;
      width: 100%;

      .titulo-pagina {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-top: 2.5rem;
        padding-left: 4rem;

        h1 {
          font: 700 2.25rem "Arial";
          margin: 0;
        }

        #area-administrativa {
          color: #df5100;
          font: 800 0.85rem "Arial";
        }
      }

      .area-informacao-entrega-locacao {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        width: 100%;

        .informacao-locacao {
          display: flex;
          justify-content: space-between;
          gap: 1rem;
          font: 600 5rem "Arial";
          width: 100%;

          .informacoes-principais {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            span {
              font: 500 1.2rem "Arial";
              display: flex;
              gap: 0.5rem;
              align-items: center;
              justify-content: flex-start;
            }
          }

          h5 {
            color: #737373;
          }

          .observacao-locacao {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            font: 500 1.2rem "Arial";
            width: 50%;
          }
        }

        button {
          margin-top: 2rem;
          width: 45%;
          background-color: #8500c7;
          color: #fff;
          padding: 14px 30px;
          border-radius: 3px;
          font: 500 20px "Poppins";
          outline: none;
          border: none;
        }
      }

      .cabecalho-listagem {
        width: 45%;
      }


      .informacoes-finalizacao-locacao {
        display: flex;
        gap: 2.5rem;
        width: 100%;

        span {
           color: #737373;
        }

        p {
          color: #000;
        }

        .valores-locacao {
          display: flex;
          flex-direction: column;
          gap: .85rem;
          width: 100%;

          .total-locacao {
              background-color: #f5f5f5;
              padding: 2rem;
              border-radius: 1rem;
              box-shadow: 0 .1rem 1rem #737373;
              font: 500 1.05rem "Arial";

              h3 {
                font: 500 1.15rem "Arial";
              }
          }
        }
      }
    }
  }
}
